---
---

@import "{{ site.theme }}";

.page-header{background:url("/files/background.jpg"); background-position: center;}
.project-name{
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-RegularItalic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-RegularItalic.ttf') format('truetype');
    font-style: oblique;
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Proxima Nova Regular;
    src: url('/files/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}

body {font-family:'Proxima Nova Regular', Arial, Helvetica, sans-serif;} /* Default font */
h1 {font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;} /* Page title font. Other stuff that uses the h1 tag is also affected. */
h2 {font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;} /* Heading 2 font. Other stuff that uses the h2 tag is also affected. */
h3 {font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;} /* Heading 3 font. Other stuff that uses the h3 tag is also affected. */
h4 {font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;} /* Heading 4 font. Other stuff that uses the h4 tag is also affected. */

.site-footer-credits{display:none;}